$white: #DDDDDD;

.container {
    margin: 80px 30px 0px 30px;

    h1 {
        text-align: center;
        margin-bottom: 70px;
    }
    
    .contact {
        max-width: 450px;
        height: 180px;
        margin: auto;
        background-color: #3A3B73;
        border-radius: 8px;
        padding: 30px;
        box-sizing: border-box;
        
        p {
            a {
                color: $white;
            }
        }
    }
}
