$content-break: 958px;
$mobile-size: 425px;

@font-face {
    font-family: SFMono-Regular;
    src: url(../../Fonts/sfmono-regular.woff);
}

.cheatsheet {
    margin-top: 80px;
    margin-bottom: 70px;

    @media (max-width: 690px) {
        margin-top: 47px;
    }
    
    h1 {
        text-align: center;
    }
    
    .content {
        margin: 70px 15px 0px 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (max-width: 690px) {
            margin-top: 50px;
        }

        .categories {
            width: 280px;
            background-color: #2A2B5C;
            border-radius: 7px;
            padding: 10px;
            margin-bottom: 30px;
            box-sizing: border-box;
            
            @media (max-width: $content-break) {
                width: 350px;
            }
            
            @media (max-width: $mobile-size) {
                width: 100%;
            }
            
            .category {
                padding: 10px;
                background-color: #191a3d;
                margin-bottom: 10px;
                border-radius: 5px;

                &:last-child {
                    margin-bottom: 0px;
                }

                .name {
                    margin-bottom: 10px;
                    display: flex;
                    
                    .circle {
                        background-color: #3A3B73;
                        width: 24px;
                        height: 24px;
                        border-radius: 20px;
                        overflow: hidden;
                        
                        img {
                            width: 20px;
                            margin-top: 2px;
                            margin-left: 2px;
                        }
                    }
                    
                    p {
                        font-size: 18px;
                        margin-left: 8px;
                        margin-top: 3px;
                    }
                }
                
                .topic {
                    text-align: center;
                    margin-bottom: 3px;
                    padding: 6px 0px;
                    font-size: 15px;
                    cursor: pointer;
                    background-color: #20214D;
                    border-radius: 5px;

                    &:hover {
                        background-color: #32346f;
                    }

                    &.active {
                        background-color: #32346f;
                        text-decoration: underline;
                    }
                }
            }
        }
        
        .selected-topic {
            background-color: #20214D;
            flex-basis: 649px;
            padding: 25px;
            box-sizing: border-box;
            border-radius: 7px;
            margin-bottom: 30px;

            .no-selected {
                margin-top: 30px;
                
                p {
                    font-size: 14px;
                    text-align: center;
                }
            }

            .name {
                margin-bottom: 40px;

                h3 {
                    margin: 0px;
                    font-size: 26px;
                    text-align: center;
                }
            }

            .cheat {
                background-color: #2e2f5e;
                padding: 20px;
                border-radius: 5px;

                &:not(:last-child) {
                    margin-bottom: 35px;
                }

                .title {
                    margin: 0px 0px 15px 0px;
                    font-size: 18px;
                    font-weight: normal;
                }
    
                .codeBlock {
                    width: fit-content;
                    background-color: #17173c;
                    border-radius: 5px;
                    margin-bottom: 8px;
                    position: relative;
                    border: 1px solid #49733e;

                    .code {
                        font-family: SFMono-Regular;
                        font-size: 12px;
                        padding: 10px 56px 10px 12px;
                        display: inline-block;

                        span {
                            margin-right: 10px;
                            color: #808080;
                        }
                    }
                    
                    .copy {
                        &:hover {
                            i {
                                color: #DDDDDD;
                            }
                        }
                        
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        padding-left: 8px;
                        padding-right: 12px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        height: 100%;

                        i {
                            color: #808080;
                            font-size: 13px;
                        }
                    }
                }
    
                .desc {
                    font-size: 12px;
                    color: #7d7e91;
                }
            }
        }
    }
}
