.hero {
    .left {

        h1 {
            margin: 0px;
            font-weight: bold;
            font-size: 67px;
        }

        h2 {
            font-weight: normal;
            font-size: 50px;
        }
    }
}
