$body: #191A42;
$sidebar: #20214D;
$white: #DDDDDD;
$footer: #2A2B5C;

$sidebar-width: 282px;

body {
    background-color: $body;
    margin: 0px;

    .sidebar {
        background-color: $sidebar;
        height: 100vh;
        width: $sidebar-width;
        position: fixed;

        .title {
            color: $white;
        }

        .menu {
            .element {
                p {
                    color: $white;
                }
            }
        }
    }

    .main {
        background-color: $body;
        width: calc(100vw - $sidebar-width);
        position: relative;
        left: $sidebar-width;

        .hero {
            .left {

                height: 1200px;

                h1 {
                    margin: 0px;
                    color: $white;
                }
            }
        }

        footer {
            height: 45px;
            background-color: $footer;
            border-radius: 10px;

            .copyright {
                color: $white;
                text-align: center;
                margin: 0;
                position: relative;
                top: 14px;
            }

            .version {
                color: grey;
                position: absolute;
                right: 5px;
                bottom: 5px;
                margin: 0;
            }
        }
    }
}