$body: #191A42;
$sidebar: #20214D;
$white: #DDDDDD;
$footer: #2A2B5C;

$sidebar-width: 282px;

@font-face {
    font-family: Autobus;
    src: url(fonts/autobus-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Proxima-Nova;
    src: url(fonts/proxima-nova.otf);
}

@font-face {
    font-family: Proxima-Nova;
    src: url(fonts/proxima-nova-bold.otf);
    font-weight: bold;
}

body {
    background-color: $body;
    margin: 0px;
    font-family: Proxima-Nova;
    color: $white;

    .sidebar {
        background-color: $sidebar;
        height: 100vh;
        width: $sidebar-width;
        position: fixed;

        .title {
            font-family: Autobus;
            font-weight: bold;
            font-size: 34px;
            text-align: center;
        }

        .menu {
            .element {
                p {
                }
            }
        }
    }

    .main {
        background-color: $body;
        width: calc(100vw - $sidebar-width);
        position: relative;
        left: $sidebar-width;
        
        footer {
            height: 45px;
            background-color: $footer;
            border-radius: 10px;

            .copyright {
                text-align: center;
                margin: 0;
                position: relative;
                top: 14px;
            }

            .version {
                color: grey;
                position: absolute;
                right: 5px;
                bottom: 5px;
                margin: 0;
            }
        }
    }
}